<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true" stderr="true" >
    <testsuites>
        <testsuite name="ASRTrace">
            <directory>./ImportTest</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>    
            <!-- Import module -->
            <directory suffix=".php">../src/Import/Model</directory>
            <directory suffix=".php">../src/Import/Controller</directory>
        </whitelist>
    </filter>    
    <logging>
        <log type="coverage-html" target="../../../../test/unittest/code_coverage/Import" lowUpperBound="40" highLowerBound="80" />
    </logging>
</phpunit>