<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true" stderr="true" >
    <testsuites>
        <testsuite name="SigTrace">
            <directory>./QuantitativeTest</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>    
            <!-- Import module -->
            <directory suffix=".php">../src/SigTRACE/Quantitative/Model</directory>
            <directory suffix=".php">../src/SigTRACE/Quantitative/Controller</directory>
        </whitelist>
    </filter>    
    <logging>
        <log type="coverage-html" target="../../../../../test/unittest/code_coverage/quantitative" lowUpperBound="40" highLowerBound="80" />
    </logging>
</phpunit>